.mainfooter {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}
.main2 {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #242b2e;
  padding-bottom: 20px;
}

.footer_icon {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-right: 370px;
  border-bottom: 1px solid #242b2e;
}
icon{
  margin-top: 3px;
  color: white;
}
.icon2 {
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 10px;
  color: white;
}

.second {
  display: flex;
  justify-content: space-evenly;
}

.para {
  padding-left: 10px;
  font-size: 18px;
  color: white;
}
.para2 {
  padding-left: 0px;
  font-size: 18px;
  color: white;
}
.text_title {
  color: white;
  font-size: 35px;
}
.span_text {
  color: white;
  font-size: 35px;
  font-weight: 700;
}

.footer_button {
  background: black;
  padding: 10px;
  font-size: 18px;
  color: white;
  border-top: 0.1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 0.2px solid white;
  border-radius: 2px;
  margin-top: -30px;
}
.footerBottom {
  display: flex;
  justify-content: space-between;
}
.footer_link {
  display: flex;
  justify-content: space-between;
  background-color: blue;
}

.link_f1 {
  padding-right: 20px;
  color: white;
}
.link_f2 {
  padding-right: 10px;
  color: white;
}
.paragraph {
  color: white;
}
.maindiv {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
}
.link {
  display: flex;
  justify-content: space-between;
}
.para {
  display: flex;
  justify-content: space-evenly;
}
