.ant-form-item .ant-select, .ant-form-item .ant-cascader-picker.select-width{
    min-width: 150px !important;
  }
  .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector.select-width{
    height: 100px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      height: 40px !important;
  }