.submit-button {
  background: "#054B8B";
}
[type="button"],
[type="reset"],
[type="submit"],
.submit-button {
  background: #054b8b !important;
  width: 90%;
  color: white !important;
  height: 45px !important;
  border-radius: 5px !important;
}
.login {
  padding-left: 150px;
}
